.question-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.question-area input {
  margin-left: 4px;
  margin-right: 4px;
}

.question-area.hide-answer > .student-blanks {
  width: 80%;
  transition: width 1s ease-in-out 0.5s;
}

.question-area.hide-answer > .filled-blanks {
  width: 0%;
  opacity: 0;
  transition: width 1s ease-in-out 0.5s, opacity 1s ease-in-out;
}

.question-area.show-answer > .student-blanks {
  width: 45%;
  transition: width 1s ease-in-out;
}

.question-area.show-answer > .filled-blanks {
  width: 45%;
  opacity: 1;
  transition: width 1s ease-in-out, opacity 1s ease-in-out 0.5s;
}

.question-area.hide-answer > .filled-blanks *,
.question-area.show-answer > .filled-blanks * {
  white-space: nowrap;
  transition: white-space 0s ease-in-out 1s;
}

.question-area p {
  display: inline-flex;
}

.question-area.show-answer > .filled-blanks * {
  white-space: normal;
  transition: white-space 10s ease-in-out 10s;
}

.question-area.show-answer > .filled-blanks pre,
.question-area.show-answer > .filled-blanks pre * {
  white-space: pre;
}

.question-area.show-answer > .filled-blanks span {
  display: inline-block;
}

.question-area.hide-answer > .filled-blanks input {
  display: none;
}
