.question-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.question-area.hide-answer > .student-blanks {
  width: 95%;
  transition: width 1s ease-in-out 0.5s;
}

.question-area.hide-answer > .filled-blanks {
  width: 0%;
  opacity: 0;
  transition: width 1s ease-in-out 0.5s, opacity 1s ease-in-out;
}

.question-area.show-answer > .student-blanks {
  width: 45%;
  transition: width 1s ease-in-out;
}

.question-area.show-answer > .filled-blanks {
  width: 45%;
  opacity: 1;
  transition: width 1s ease-in-out, opacity 1s ease-in-out 0.5s;
}

.question-area.hide-answer > .filled-blanks *,
.question-area.show-answer > .filled-blanks * {
  white-space: nowrap;
  transition: white-space 0s ease-in-out 0.5s;
}

.question-area.hide-answer > .filled-blanks input {
  display: none;
}

.btn-show-answer {
  padding: 20px;
  margin: 10px;
  background-color: lightgreen;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
}
