.btn-hint {
  font-size: 100%;
  border-radius: 8px;
  border: 1px solid white;
  color: black;
  background-color: lightblue;
  cursor: pointer;
  padding: 20px;
  display: block;
  width: 45%;
}

.btn-no-hint {
  display: none;
}
