.mc-answer {
  background-color: rgb(43, 43, 43);
  padding: 5px;
  color: white;
  font-size: 100%;
  width: 60vw;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
}

.mc-chosen .mc-answer {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0 solid white;
}

.mc-explanation {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #d3f2af;
  color: rgb(53, 53, 53);
  width: 60vw;
  margin: auto;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  cursor: pointer;
}

.mc-chosen .mc-explanation {
  display: inherit;
}

.mc-correct .mc-explanation {
  background-color: #d3f2af;
}

.mc-incorrect .mc-explanation {
  background-color: rgb(238, 159, 159);
}

.mc-explanation svg {
  font-size: 200%;
}

.mc-correct .mc-explanation svg {
  color: darkgreen;
}

.mc-incorrect .mc-explanation svg {
  color: darkred;
}

.mc-option {
  text-align: center;
}
