.prompt {
  margin: 15px;
  max-width: 80vw;
}

.user-answer {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  border: 1px solid white;
  resize: vertical;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
  visibility: visible;
  margin: 15px;
}

.actual-answer {
  opacity: 0;
  width: 50%;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

.answer {
  text-align: left;
  width: 35%;
}

.show-answer.actual-answer {
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.prompt-question {
  display: flex;
}

.prompt-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-invisible {
  display: flex;
}

.header-invisible > div:first-child {
  visibility: hidden;
}

.hint-container {
  width: 80%;
}
