.prompt {
  border: 7px solid white;
  border-radius: 10px;
  background-color: lightgray;
  text-align: left;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
}

.user-answer {
  width: 50vw;
  white-space: nowrap;
  border: 1px solid white;
  resize: vertical;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
  visibility: visible;
}

.actual-answer {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  height: 0;
}

.show-answer .actual-answer {
  opacity: 1;
  visibility: visible;
  max-height: 100vh;
  height: auto;
  transition: opacity 0.25s ease-in-out 0.25s, max-height 1s ease-in-out 0s;
}
