.question-view {
  width: 95vw;
}

.question-tags {
  border-bottom: 1px solid grey;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question-preamble {
  word-wrap: normal;
  background-color: lightgrey;
  color: black;
  border: 3px solid white;
  border-radius: 5px;
  display: block;
  width: fit-content;
  max-width: 90vw;
  text-align: left;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}

.question-difficulty {
  color: red;
  font-size: 200%;
}

.question-rubric button {
  font-size: 200%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: rgb(43, 43, 43);
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
}

.question-hints button {
  font-size: 150%;
  border-radius: 5px;
  color: rgb(43, 43, 43);
  background-color: white;
  cursor: pointer;
  margin: 10px;
}

.question-hints button.no-hints {
  display: none;
}
