.question-view {
  width: 95vw;
}

.question-tags {
  border-bottom: 1px solid grey;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question-difficulty {
  margin: 20px;
}

.question-difficulty p {
  font-size: 150%;
  margin-bottom: 0;
}

.question-difficulty svg {
  color: red;
  font-size: 200%;
}

.question-rubric button {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: rgb(43, 43, 43);
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
}

.question-header {
  text-align: left;
  margin-left: 3vw;
}

.question-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.question-preview .question-view {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
