.question-view {
  width: 95vw;
}

.question-tags {
  border-bottom: 1px solid grey;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question-difficulty {
  margin-top: 5px;
  margin-bottom: 30px;
}

.question-difficulty svg {
  color: red;
  font-size: 200%;
}

.question-rubric button {
  border-radius: 5px;
  padding: 10px;
  margin: 30px;
  color: rgb(43, 43, 43);
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 125%;
  width: 75%;
}

.question-view > .question-header {
  text-align: center;
}

.question-title {
  margin-bottom: 0;
}
