.short-answer-area {
  display: flex;
  justify-content: center;
  width: 100%;
}

.short-prompt {
  margin-left: 0;
  margin-right: 0;
  min-width: 30%;
}

.short-answer-area > .short-user {
  display: flex;
  justify-content: left;
}

.short-answer-area textarea {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  resize: vertical;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}

.short-answer-area.hide-answer > .short-user {
  width: 100%;

  /*
  This is to make it look "centered". There has to be a better way to do this
  The problem is that the markdown area has border, margin, and padding that take up width.
  Empirically, this equates to ~4%.
  */
  margin-left: 4%;
  transition: width 1s ease-in-out 0.5s, margin-left 1s ease-in-out;
}

.short-answer-area.hide-answer > .short-correct {
  width: 0%;
  opacity: 0;
  transition: width 1s ease-in-out 0.5s, opacity 1s ease-in-out;
}

.short-answer-area.show-answer > .short-user {
  width: 45%;
  margin-left: 0;
  transition: width 1s ease-in-out, margin-left 1s ease-in-out;
}

.short-answer-area.show-answer > .short-correct {
  width: 45%;
  opacity: 1;
  transition: width 1s ease-in-out, opacity 1s ease-in-out 0.5s;
}

.short-answer-area.hide-answer > .short-correct *,
.short-answer-area.show-answer > .short-correct * {
  white-space: nowrap;
  overflow: hidden;
  transition: white-space 0s ease-in-out 0.5s;
}
