.markdown-editor {
  display: flex;
  justify-content: center;
}

.markdown-container.markdown-hidden {
  opacity: 0;
}

.markdown-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.markdown-editor .markdown-preview {
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
  white-space: normal;
}

.markdown-syntax-btn {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
}
