.new-choices {
  width: 100%;
  display: flex;
  text-align: center;
}

.choice-creator {
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

#addChoice {
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  background-color: lightgreen;
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#addChoice:disabled {
  background-color: lightgray;
  color: rgb(48, 48, 48);
  cursor: not-allowed;
}

.reason-invalid {
  color: rgb(226, 102, 102);
  font-size: 200%;
}

.new-preview {
  text-align: center;
}
