.part-editor {
  width: 90vw;
}

.specific-editor.editor-hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.specific-editor.editor-show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.part-add-btn,
.edit-confirmed-btn {
  padding: 20px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgreen;
}

.edit-confirmed-btn {
  background-color: lightblue;
}

.question-editor-parts {
  border: 5px solid white;
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
}
