.part-editor {
  border: 5px solid white;
  border-radius: 8px;
  padding: 20px;
}

.specific-editor.editor-hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.specific-editor.editor-show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.part-add-btn,
.edit-confirmed-btn {
  padding: 20px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgreen;
}

.part-add-btn {
  width: 80%;
  font-size: 200%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.edit-confirmed-btn {
  background-color: lightblue;
}

.hint-add-btn:disabled {
  cursor: not-allowed;
  background-color: rgb(88, 88, 88);
  color: white;
}

.question-editor-parts {
  margin: 10px;
  padding: 10px;
}

.confirmed-part {
  max-width: 80%;
}
