.new-short-answer {
  border: 3px solid white;
  border-radius: 10px;
  margin: 10px;
}

.short-type-toggler,
.prompt-edit-btn,
.add-part-btn {
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
  background-color: lightgreen;
  cursor: pointer;
}

.add-part-btn:disabled {
  background-color: lightgray;
  color: black;
  cursor: not-allowed;
}

.short-answer-editors.short-free {
  display: flex;
}

.short-answer-preview {
  display: flex;
  margin: 10px;
}

.short-answer-preview .preview-prompt,
.short-answer-preview .preview-answer {
  width: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.prompt-view {
  padding: 10px;
  margin: 10px;
  width: 80vw;
  justify-content: center;
}

.single-prompt {
  border: 3px solid white;
  border-radius: 10px;
  margin: 10px;
}

.prompt-answer {
  margin: 10px;
  min-width: 45%;
}

.prompt-edit-btn {
  background-color: lightblue;
  color: black;
}
