.tag-selector input {
  font-size: 100%;
  padding: 10px;
  border-radius: 5px;
}

.tag-add-btn {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: lightblue;
  cursor: pointer;
}

.tag-add-btn:disabled {
  background-color: rgb(94, 94, 94);
  color: white;
  cursor: not-allowed;
}

.tag-selector.is-valid button {
  background-color: aquamarine;
}

.selected-tags .tag {
  font-size: 125%;
}

.selected-tags .tag:first-child {
  font-size: 300%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
