.type-buttons {
  display: flex;
  justify-content: center;
}

.type-select-btn {
  padding: 10px;
  margin: 10px;
  border: 3px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.type-select-btn.type-selected {
  background-color: lightgreen;
  color: black;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.type-buttons button svg {
  padding-right: 8px;
}
