.blank-input {
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  resize: none;
  border-radius: 5px;
  border: 1px solid black;
}

.invalid-blank {
  border: 2px solid rgb(250, 66, 46);
}

/* Make sure we don't show students our mistakes! */
.question-view .invalid-blank {
  border: 1px solid black;
}
