.markdown-preview {
  word-wrap: normal;
  background-color: lightgrey;
  color: black;
  border: 8px solid white;
  border-radius: 5px;
  display: block;
  max-width: 90vw;
  text-align: left;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown-preview img {
  max-width: 100%;
}
