.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item svg {
  color: rgb(250, 132, 132);
  font-size: 200%;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.list-movers {
  display: flex;
  flex-direction: column;
}

.list-item .list-movers svg {
  color: lightgreen;
}

.list-item .list-movers.no-up svg:first-child {
  visibility: hidden;
}

.list-item .list-movers.no-down svg:last-child {
  visibility: hidden;
}
