.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-movers {
  display: flex;
  flex-direction: column;
}

.list-item :not(:first-child):not(:last-child) {
  flex-grow: 1;
}

.list-item .list-ops svg,
.list-item .list-movers svg {
  color: rgb(250, 132, 132);
  font-size: 200%;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.list-item .list-movers svg {
  color: lightgreen;
}

.list-item .list-ops {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item .list-ops svg:first-child {
  color: rgb(158, 224, 247);
}

.list-item .list-ops svg:last-child {
  color: rgb(250, 132, 132);
}

.list-item .list-movers.no-up svg:first-child {
  visibility: hidden;
}

.list-item .list-movers.no-down svg:last-child {
  visibility: hidden;
}
