.app {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  font-size: 125%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.app-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.app h1 {
  font-size: 300%;
}

.app > h1 {
  text-align: center;
}
.app h2 {
  font-size: 200%;
}

button,
textarea {
  font-size: 100%;
}

/* Override the builtin-function highlighting */
.ace_editor.ace-sqlserver .ace_support.ace_function {
  color: black;
}
