.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 125%;
  color: white;
  text-align: center;
}

button,
textarea {
  font-size: 100%;
}

/* Override the builtin-function highlighting */
.ace_editor.ace-sqlserver .ace_support.ace_function {
  color: black;
}
