.prompt {
  border: 7px solid white;
  border-radius: 10px;
  background-color: lightgray;
  font-size: 100%;
  text-align: left;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
}

.prompt-answer button {
  font-size: 125%;
  border-radius: 5px;
  border: 1px solid black;
  background-color: palegreen;
  margin-bottom: 20px;
  padding: 20px;
  color: black;
  cursor: pointer;
}

.user-answer {
  width: 100%;
  display: flex;
}

.user-answer textarea {
  width: 100%;
  font-size: 100%;
  white-space: nowrap;
  border: 1px solid white;
  resize: vertical;
  border-radius: 8px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  visibility: visible;

  /* Need this because of TextAreaAutosize.... */
  overflow: auto !important;
}

.user-answer.code-editor textarea {
  width: 50%;
}

.show-answer .code-editor textarea {
  width: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
}

.user-answer pre {
  width: 50%;
}

.show-answer .user-answer pre {
  width: 100%;
}

.actual-answer {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  height: 0;
}

.show-answer .actual-answer {
  opacity: 1;
  visibility: visible;
  max-height: 100vh;
  height: auto;
  transition: opacity 0.25s ease-in-out 0.25s, max-height 1s ease-in-out 0s;
}
