.question-view {

}
.question-tags {
    border-bottom: 1px solid grey;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.question-preamble {
    word-wrap: normal;
    background-color: lightgrey;
    color: black;
    border: 3px solid white;
    border-radius: 5px;
    display: block;
    width: fit-content;
    max-width: 90vw;
    font-size: 150%;
    text-align: left;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
}