.quideo {
    background-color: #282c34;
    min-height: 100vh;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

table {
  width: 100%;
  padding: 10px;
}