.quideo {
    background-color: #282c34;
    min-height: 100vh;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Open Sans', sans-serif;
    display:flex;
    flex-direction: row;
}

.learn {
    dipslay: flex;
    flex-direction: column;
    width: 33%;
    border: dotted;
}

.practice {
    display: flex;
    flex-direction: column;
    width: 33%;
    border: dotted;
}

.test {
    display: flex;
    flex-direction: column;
    width: 33%;
    border: dotted;
}
